.wrapper1 {
    border: 1px solid red;
}
.wrapper1 span {
    float: left;
    width: 100px;
    height: 100px;
    border: 1px solid gray;
}

/* 方法一：在父级元素最有添加一个空div，并清除浮动。简单、代码少、兼容性好。不过不利于页面优化*/
.clear {
    clear: both;
}

/* 方法二：父级元素定义：after伪类*/
.clearfix:after {
    clear: both;
    content: '';
    display: block;
}
/* IE 专有属性 */
.clearfix {
    zoom: 1;
}
