.wrapper {
    margin-top: 100px;
    transform: perspective(1000px);
}

.cube {
    -webkit-transform-style: preserve-3d;
    height: 200px;
    width: 200px;
    line-height: 200px;
    position: relative;
    margin: auto;
    animation: run 20s infinite;
}

@keyframes run {
    0% {
       transform: rotateX(0deg) rotateY(0deg);
    }

    100% {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

.cube > div {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #666;
    text-align: center;
    color: tomato;
    opacity: .8;
}

.plane-front {
    transform:translateZ(100px);
}
.plane-back {
    transform:rotateY(180deg) translateZ(100px);
}
.plane-left {
    transform:rotateY(270deg) translateZ(100px);
}
.plane-right {
    transform:rotateY(90deg) translateZ(100px);
}
.plane-top {
    transform:rotateX(90deg) translateZ(100px);
}
.plane-bottom {
    transform:rotateX(270deg) translateZ(100px);
}
