.wrapper {
    margin-top: 50px;
    transform: perspective(800px);
}

.cube {
    -webkit-transform-style: preserve-3d;
    height: 200px;
    width: 200px;
    position: relative;
    margin: auto;
    animation: run 2s infinite;
}

@keyframes run {
    0% {
       transform: rotateX(0deg) rotateY(0deg);
    }

    100% {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

.cube > div {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #666;
    text-align: center;
    color: tomato;
}

.plane-front {
    transform: translateZ(100px);
}

.plane-back {
    transform: translateZ(100px) rotateY(180deg);
}

.plane-top {
    transform: translateZ(100px) rotateX(90deg);
}

.plane-bottom {
    transform: translateZ(100px) rotateX(270deg);
}

.plane-left {
    transform: translateZ(100px) rotateY(90deg);
}

.plane-right {
    transform: translateZ(100px) rotateY(270deg);
}
