/*使用多个div叠在一起的方式实现水波纹的效果，最重要的是将背景设为固定：background-attachment：fixed，然后让背景的尺寸有大有小*/
.wave {
    position: absolute;
    top: calc((100% - 30px) / 2);
    left: calc((100% - 30px) / 2);
    width: 30px;
    height: 30px;
    border-radius: 300px;
    background: url("./timg.jpg") fixed center center;
}
.wave0 {
    z-index: 2;
    background-size: auto 106%;
    animation: w 1s forwards;
}
.wave1 {
    z-index: 3;
    background-size: auto 102%;
    animation: w 1s .2s forwards;
}
.wave2 {
    z-index: 4;
    background-size: auto 104%;
    animation: w 1s .4s forwards;
}
.wave3 {
    z-index: 5;
    background-size: auto 101%;
    animation: w 1s .6s forwards;
}
.wave4 {
    z-index: 6;
    background-size: auto 102%;
    animation: w 1s .8s forwards;
}
.wave5 {
    z-index: 7;
    background-size: auto 100%;
    animation: w 1s 1s forwards;
}

@keyframes w {
    0% {
        left: calc((100% - 30px)/2);
        top: calc((100% - 30px)/2);
        width: 30px;
        height: 30px;
    }
    100% {
        left: calc((100% - 300px)/2);
        top: calc((100% - 300px)/2);
        width: 300px;
        height: 300px;
    }
}
